# Deployment Script Configuration
#
SERVICE_NAME=onceui-prod.service
LOCAL_PATH=$HOME/Projects/securityengineerd.cloud
REMOTE_PATH=/home/nextjs/securityengineerd.cloud
REMOTE_HOST=104.225.218.158
REMOTE_USER=nextjs
REMOTE_ADMIN=root


