# Deployment Script Configuration
#
export PATH="./scripts:$PATH"
export SERVICE_NAME="onceui-prod.service"
export LOCAL_PATH="$HOME/Projects/securityengineerd.cloud"
export REMOTE_PATH="/home/nextjs/securityengineerd.cloud"
export REMOTE_HOST="104.225.218.158"
export REMOTE_USER="nextjs"
export REMOTE_ADMIN="root"


