[Unit]
  Description=OnceUI Service - development
  After=network.target
[Service]
  WorkingDirectory=/home/nextjs/securityengineerd.cloud
  ExecStart=/usr/bin/npm start
  Restart=always
  User=nextjs
  Group=nextjs
  Environment=NODE_ENV=development

[Install]
  WantedBy=multi-user.target
